@charset "utf-8";

body {
	background:url(../img/bg.jpg);
	height: 100%;
}

.header{
	/*border: 1px solid;*/
	height: 50px;
	width: 100%;
	position: fixed;
}

.center{
	height: 1700px;
}

.footer{
	/*border: 1px solid;*/
	height: 50px;
	width: 100%;
}
