* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,img {
	border: 0;
}

body {
	font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
}
/* container */
#container {
	width: 940px;
	margin: 50px auto;
}

#container ul {
	width: 300px;
	list-style: none;
	float: left;
	margin-right: 20px;
}

#container ul li {
	margin-bottom: 20px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: #e6e6e6 #e6e6e6 #B3B3B3;
	border-image: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

#container ul li img {
	width: 298px;
}

.water_user {
	color: #666;
	padding: 10px;
}

.water_option {
	background: #f5f5f5;
	border-top: 1px #f0f0f0 solid;
	padding: 5px 0 5px 10px;
}

.water_option:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
}

.water_option .option_item,.water_option .split {
	float: right;
}

.water_option .option_item {
	color: #3e88cd;
	text-decoration: none;
	margin-right: 10px;
}

.water_option .option_item:hover {
	text-decoration: underline;
}

.water_option .split {
	display: inline-block;
	margin: 5px 10px 0 0;
	height: 12px;
	width: 1px;
	background-color: #D8D8D8;
}

.loadMeinvMOre {
	height: 30px;
	line-height: 30px;
	color: #999;
	text-align: center;
	background: #f9f9f9;
	display: block;
	clear: both;
	text-decoration: none;
}

.loadMeinvMOre:hover {
	background: #f0f0f0;
	color: #666;
}

